*, html {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

body {
    background-color: #012f5a;
    color: #fff;
    font-size: 1rem;
    font-family: 'EB Garamond', serif;
    overflow-x: hidden;
}

ul { list-style-type: none; }

.clrBth { clear: both; }
.fltLft { float: left; }

@media(min-width: 375px) {
  header {
    background: #101010;
    width: 95%;
    height: auto;
    padding: 2.5%;

    .logo {
      width: 100%;
      text-align: center;
    }

    nav {
      width: auto;
      height: auto;
      float: left;

      ul { display: none; }

      li {
        color: #fff;
        font-size: 1.5rem;
        text-transform: uppercase;
        display: block;
        margin-bottom: 5px;
        width: 100%;
        text-align: left;

        &:last-child {
          margin-right: 0px;
        }
      }

      span {
        color: #fff;
        font-size: 3rem;
      }
    }

    .search {
      float: right;
      width: 18px;
      height: 18px;
      border-radius: 9px;
      margin-top: 20px;
      background-image: url('../img/searchLoop.png');
      background-repeat: no-repeat;
      background-color: #fff;
      background-position: center;
    }

    .searchInput {
      float: right;
      width: 125px;
      height: 18px;
      display: none;
      border-radius: 9px;
      margin-top: 20px;
      padding-left: 25px;
      background-image: url('../img/searchLoop.png');
      background-repeat: no-repeat;
      background-color: #fff;
      background-position-x: left;
      background-position-y: center;
    }
  }

  main {
    float: left;
    background: #fff;

    .slides {
      width: 100%;
      height: auto;
      background: #111213;

      .slide {
        float: left;
        width: 100%;
        height: 360px;
        display: none;
        background-repeat: no-repeat;
        background-position: center;

        &#s1 { background-image: url('../img/slide1.png'); }
        &#s2 { background-image: url('../img/slide2.png'); }
        &#s3 { background-image: url('../img/slide3.png'); }
        &#s4 { background-image: url('../img/slide4.png'); }
      }

      .quote {
        background: #111213;
        padding: 20px 10px;
        font-size: 1.5rem;
        color: #a3a3a3;
        text-align: center;
        clear: both;

        br { display: none; }
      }

      .socialIcons {
        width: 100%;
        height: auto;
        background: #111213;
        text-align: center;
        padding: 20px 10px;
      }
    }

    h3 {
      font-size: 1.5rem;
      color: #111213;
    }

    section {
      background: #fff;
      width: 100%;
      height: auto;
      padding: 30px;
      box-sizing: border-box;

      article {
        color: #333;
        text-align: left;
        border-bottom: 1px #f1f1f1 solid;
        margin-bottom: 30px;
        padding-bottom: 30px;

        img {
          padding: 4px;
          background: #e9e9e9;
          border: 1px #e5e5e5 solid;
        }

        .posted {
          color: #2c83b0;
          font-size: 0.6rem;
          clear: both;
          display: block;
          margin-top: 2px;
        }

        .thePost {
          color: #333;
          font-size: 0.95rem;
          clear: both;
          display: block;
          margin-top: 12px;
        }

        .theReadMore {
          display: none;
        }

        .readMore {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5aa7ce+0,4681a0+100 */
          background: #5aa7ce; /* Old browsers */
          background: -moz-linear-gradient(-45deg, #5aa7ce 0%, #4681a0 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(-45deg, #5aa7ce 0%,#4681a0 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(135deg, #5aa7ce 0%,#4681a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5aa7ce', endColorstr='#4681a0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
          color: #fff;
          font-size: 0.85rem;
          text-shadow: 0px -2px #356279;
          padding: 5px 0;
          width: 140px;
          text-align: center;
          margin-top: 12px;
          border-radius: 4px;
          display: block;
          border-bottom: 1px #272727 solid;
        }
      }
    }

    aside {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e7e7e7+0,ffffff+100 */
      background: #e7e7e7; /* Old browsers */
      background: -moz-linear-gradient(top, #e7e7e7 0%, #ffffff 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #e7e7e7 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #e7e7e7 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

      color: #303030;
      width: 100%;
      height: auto;
      padding: 30px 20px;
      box-sizing: border-box;

      h3 {
        margin-bottom: 30px;
      }

      .blueLink {
        clear: both;
        display: block;
        color: #2c83b0;
      }

      .module {
        margin-bottom: 50px;

        &#scoreboard {
          li {
            word-spacing: 5px;
          }
        }
      }
    }

    section#sponsors {
      h3 {
        padding-bottom: 30px;
      }

      img {
        padding: 4px;
        background: #f6f6f6;
        border: 1px #f5f5f5 solid;
      }
    }
  }

  footer {
    background: #0f0f0f;
    padding: 0 25px 65px 25px;

    .module {
      clear: both;
      width: 100%;
      overflow: hidden;

      h3 {
        color: #ffffff;
        font-size: 1.5rem;
        padding-top: 25px;
        padding-bottom: 20px;
      }

      &.flickr img {
        border: 1px #333333 solid;
        margin-right: 5px;
        margin-bottom: 10px;

        &:nth-child(3n+2) {
          clear: both;
        }
      }
    }
  }

  .blueBackground, .bottomShadow { display: none; }
}

@media(min-width: 768px) {
  header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#111213+0,151617+50,232425+100 */
    background: #111213; /* Old browsers */
    background: -moz-linear-gradient(45deg, #111213 0%, #151617 50%, #232425 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #111213 0%,#151617 50%,#232425 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #111213 0%,#151617 50%,#232425 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111213', endColorstr='#232425',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    .search#searchBtn { display: none; }
    .searchInput#searchBar { display: block; }
  }

  main {
    .slides {
      .quote {
        width: calc(100% - 284px);
        float: left;
        text-align: left;
        box-sizing: border-box;

        br { display: block; }
      }

      .socialIcons {
        width: 264px;
        float: right;
      }
    }

    section {
      article {
        img {
          float: left;
          margin-right: 10px;
        }

        .posted, .thePost {
          clear: none;
        }

        .readMore { float: left; }
      }
    }

    aside {
      .module {
        float: left;
        width: 33%;
      }
    }
  }

  footer {
    .module {
      width: 30%;
      float: left;
      clear: none;

      &:first-child, &.flickr { margin-right: 2%; }
      &.flickr { width: 35%; }
    }
  }
}

@media(min-width: 1200px) {
  .wrapper {
    width: 960px;
    min-height: 2230px;
    height: auto;
    margin: 0 auto;
    position: relative;
    background: #0f0f0f;
  }

  header {
    position: relative;

    .logo {
        width: auto !important;
        float: left;
        text-align: center;
    }

    nav {
      float: right;
      margin-top: 25px;

      .navToggle {
        display: none !important;
      }

      ul {
        display: block !important;

        li {
          width: auto;
          margin-right: 15px;
          float: left;
          font-size: 1rem;
        }
      }
    }

    .searchInput#searchBar {
      position: absolute;
      left: auto;
      right: 2.5%;
    }
  }

  main {
    .slides {
      .slide {
        background-size: cover;
      }
    }
    section.posts {
      width: 75%;
      float: left;
      clear: left;
    }
    aside {
      width: 25%;
      float: left;

      .module {
        width: 100%;
        clear: both;
      }
    }
  }

  footer {
    .module {
      width: calc((100% - 286px)/2);
      margin: 0 !important;

      &.flickr {
        width: 246px !important;
        padding: 0 20px !important;
      }

      /*&.contact {
        width: 264px !important;
      }*/
    }
  }

  .bottomShadow {
    width: 1058px;
    height: 70px;
    margin: 0 auto;
    margin-top: -25px;
    display: block;
    opacity: 0.4;
    background-image: url('../img/bottomShadow.png');
    background-repeat: no-repeat;
  }

  .blueBackground {
    width: 1485px;
    min-height: 2329px;
    height: auto;
    margin: 0 auto;
    margin-left: -262.5px;
    z-index: -1;
    position: absolute;
    display: block;
    background-image: url('../img/backgroundShadow.png');
    background-size: auto 100%;
    background-size: cover;
  }
}

.Pagination-Wrapper {
  width: 100%;
  height: auto;
  float: left;
  clear: both;
  margin-bottom: 20px;

  .Pagination {
    width: 100%;

    span {
      float: left;
      width: 20px;
      padding: 6px;
      line-height: 20px;
      margin-right: 10px;
      background-color: #eeeeee;
      color: #9a9a9a;
      text-align: center;
      font-family: Verdana;
      font-size: 0.7rem;

      &:not(.pageOf) {
        cursor: pointer;
      }
      &.pageOf {
        width: auto !important;
      }
      &.abort {
        opacity: 0.25;
      }
      &.active {
        font-weight: bold;
      }
    }
  }
}
